body {
    background-color: #122D4A;
    color: #FFA366;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 400px;
    box-shadow: 3px 3px 15px #081421;
    border-radius: 5px;
    margin: 5px;
    /* filter: blur(5px); */
}

img.nsfw {
    filter: blur(20px);
    /* -webkit-filter: blur(5px);; */
    /* background-color: orange; */
    /* background: linear-gradient(rgba(169, 169, 169, 0.454), rgba(67, 67, 67, 0.711)); */
}

nsfw-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

